{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{{% block content %}

<!-- Hero Section-->
<div class="hero-header">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text text-center">
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    Your Account
                </h1>


            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->


<!-- Formatting layout -->


<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Account</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
<button class="btn btn-black rounded-0 text-uppercase float-right btn-sm">Update Information</button>
</form>
</div>




<div class="col-12 col-lg-6">
    <p class="text-muted">Order History</p>
    <div class="order-history table-responsive">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Order Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:6 }}
                        </a>
                    </td>
                    <td>{{ order.date }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for item in order.lineitems.all %}
                            <li class="small">
                                {% if item.product.has_sizes %}
                                Size {{ item.product.size|upper }}
                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>${{ order.grand_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
<!--Spacer row-->
<div class="row my-5">
    <div class="col">

    </div>
</div>



<!-- Fighter Profile Views-->


<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Profile Management for {{ user.username }}</h2>
            <hr>
        </div>
    </div>

    <div class="row">

        <!--Fighter Profile here-->
        <div class="col-12 col-lg-6">
            <p class="text-muted"> <em>Fighter Profile</em> </p>

            <a class="btn btn-dark pill-btn btn-sm mb-3" href="{% url 'add_fighter' %}">Add Fight profile</a>

            <!-- Display Gym -->

            <!-- Card -->
            <div class="card hoverable">

                <!-- Card image -->
                <img class="card-img-top" src="#" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                        Your FIGHTER Profile.
                    </p>



                    <a class="btn btn-dark pill-btn btn-sm" href="#">View
                        Profile</a>
                    {% if user.is_authenticated %}
                    <small class="text-center ">
                        <a href="#">Edit</a> |
                        <a class="text-danger" href="#">Delete</a>
                    </small>
                    {% endif %}




                </div>
            </div>


        </div>


        <!--Gym Profile here-->

        <div class="col-12 col-lg-6">
            <p class="text-muted"> <em>Gym Profile</em> </p>
            <a class="btn btn-dark pill-btn btn-sm mb-3" href="{% url 'add_gym' %}">Add Gym</a>


            <!-- Display Gym -->

            <!-- Card -->
            <div class="card hoverable">

                <!-- Card image -->
                <img class="card-img-top" src="#" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                        Your GYM Profile.
                    </p>


                    <a class="btn btn-dark pill-btn btn-sm" href="#">View
                        Gym</a>

                    {% if user.is_authenticated %}
                    <small class="text-center ">
                        <a href="#">Edit</a> |
                        <a class="text-danger" href="#">Delete</a>
                    </small>
                    {% endif %}

                </div>
            </div>


        </div>
    </div>
</div>

<!--Spacer row-->
<div class="row my-5">
    <div class="col">

    </div>
</div>



<!--  Section Latest Fighters in database -->

<div class="container mt-5">


    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">Gym Profile</h3>

    <!-- New card System-->
    <div class="row">


        {% for gym in gyms.user %}


        <!-- New fighter card layout-->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

            <!-- Card -->
            <div class="card hoverable">

                <!-- Card image -->
                <img class="card-img-top" src="{{ gym.gym_photo_main.url }}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">
                    {% if gym.is_verified %}
                    <h5 class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                        {{ gym.name }}<i class="fas fa-check-circle blue-tick"></i>
                    </h5>

                    {% else %}
                    <h5 class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                        {{ gym.name }}<i class="fas fa-check-circle"></i>
                    </h5>
                    {% endif %}


                    <!-- Text -->
                    <p class="mb-2">{{ gym.town_or_city }}</p>
                    <!-- Title -->
                    <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">{{ gym.created_on }}
                    </p>

                    <a class="btn btn-dark pill-btn btn-sm" href="{% url 'gym_profile' gym.id %}">Read
                        more!</a>


                </div>
            </div>
        </div>




        <!--End new card layout -->


        {% endfor %}



    </div>
</div>

<!--Spacer row-->
<div class="row my-5">
    <div class="col">

    </div>
</div>


<!--  Section Latest Fighters in database -->

<div class="container mt-5">


    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">Your Fighter Profile</h3>

    <!-- New card System-->
    <div class="row">

        {% for fighter in fighters %}

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

            <!-- Card -->
            <div class="card hoverable">

                <!-- Card image -->
                <img class="card-img-top" src="{{ fighter.profile_photo_main.url }}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">{{ fighter.first_name }}</p>
                    <!-- Text -->

                    <a class="btn btn-dark pill-btn btn-sm" href="{% url 'fytnet_profile' fighter.id %}">View
                        Profile</a>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!--Spacer row-->
<div class="row my-5">
    <div class="col">

    </div>
</div>






{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}