
.hover-nav {
  transition: 0.3s;
}
.hover-nav:hover {
  transform: translate(0, -2px);
  
}

.nav-link {
    font-weight: 600;
   
}


.dropdown-menu {
    background-color: #12192c !important;
}

.bg-dark {
    background-color: transparent !important;
}

.bg-dark.scrolled {
    background-color: #12192c !important;
    transition:0.75s ease;
}

