{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Hero Section-->
<div class="hero-gym">
    <img class="hero-gym-img" src=" {{ fighter.profile_photo_main.url }}" alt=" Image photo main">
    <div class="container-fluid">

        <div class="row">
            <div class="hero-text text-center">
                <p>"{{ fighter.fighter }}"</p>
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    {{ fighter.fighter }}

                </h1>
                <p>{{ fighter.titles }}</p>

            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->



<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font font font-weight-bold "> {{ fighter.fighter }}</h2>

            <h3 class="font-weight-bold "> W {{ fighter.win }} D {{ fighter.draw }} L {{ fighter.loss }} </h3>

            <hr class="w-50 mb-1">
        </div>
    </div>
</div>


<div class="container">

    <div class="row">

        <div class="col">

            <p> <strong>Category</strong> {{ fighter.category }}</p>
            <p> <strong>Nickname</strong> {{ fighter.nick_name }}

            <p> <strong>Fight Style</strong> {{ fighter.fight_style }} </p>
            <p> <strong>First Name</strong> {{ fighter.first_name }} </p>
            <p> <strong>Last Name</strong> {{ fighter.last_name }} </p>
            <p> <strong>Titles</strong> {{ fighter.titles }} </p>
            <p> <strong>Bio</strong> {{ fighter.bio }} </p>
            <p> <strong>Weight </strong> {{ fighter.weight }} <strong>lbs</strong></p>
            <p> <strong>Email</strong> {{ fighter.email }} </p>
            <p> <strong>Whatsapp</strong> {{ fighter.whatsapp }} </p>
            <p> <strong>Profile Photo</strong> {{ fighter.profile_photo_main }} </p>
            <p> <strong>Showreel Vid</strong> {{ fighter.video }} </p>
            <p> <strong>Photo 1</strong> {{ fighter.photo_1 }} </p>
            <p> <strong>Photo 2</strong> {{ fighter.photo_2 }} </p>
            <p> <strong>Photo 3</strong> {{ fighter.photo_3 }} </p>
            <p> <strong>Photo 4</strong> {{ fighter.photo_4 }} </p>
            <p> <strong>Photo 5</strong> {{ fighter.photo_5 }} </p>
            <p> <strong>Photo 6</strong> {{ fighter.photo_6 }} </p>

            <p>weight class </p>
            {{ fighter.weight_class }}

            <p>discipline</p>
            {{ fighter.discipline }}


            <p> <strong>Facebook</strong> {{ fighter.facebook }} </p>
            <p> <strong>Twitter</strong> {{ fighter.twitter }} </p>
            <p> <strong>Instagram</strong> {{ fighter.instagram }} </p>
            <p> <strong>Website</strong> {{ fighter.web }} </p>


            <p> <strong>Verified</strong> {{ fighter.is_verified }} </p>
            <p> <strong>Created Profile on</strong> {{ fighter.created_on }} </p>
            </p>


            </p>
        </div>
    </div>
</div>


<!-- back to top link-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>

{% endblock %}

{% block postloadjs %}
<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}