{% extends "base.html" %}
{% load static %}



{% block content %}

<!-- Hero Section-->
<div class="hero-header">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text text-center">
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    Fighters
                </h1>


            </div>
        </div>
    </div>
</div>


<div class="container mt-5">


    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">Fighters</h3>

    <!-- New card System-->
    <div class="row">

        {% if fighters %}
        {% for fighter in fighters %}

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

            <!-- Card -->
            <div class="card hoverable">

                <!-- Card image -->
                <img class="card-img-top" src="{{ fighter.profile_photo_main.url }}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <p class="card-title text-muted text-uppercase font-small mt-1 mb-3"> {{ fighter.first_name }}</p>
                    <!-- Country -->

                    <a class="btn btn-dark pill-btn btn-sm" href="{% url 'fytnet_profile' fighter.id %}">View
                        Fighter!</a>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <!-- Pagination -->
        <div class="row">
            <div class="col-md-12">
                {% if fighters.has_other_pages %}
                <ul class="pagination">
                    {% if fighters.has_previous %}
                    <li class="page-item">
                        <a href="?page={{fighters.previous_page_number}}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for i in fighters.paginator.page_range %}
                    {% if fighters.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if fighters.has_next %}
                    <li class="page-item">
                        <a href="?page={{fighters.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="row my-5">
        <div class="col">

        </div>
    </div>
</div>








<!-- back to top link-->

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>





{% endblock %}

{% block postloadjs %}
<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}