{% load static %}

<!-- Footer -->
<footer class="page-footer font-small w-auto mx-auto grad">

    <div class="container ">

        <div class="col-md-6 col-lg-7 text-center text-md-right">

        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 footer-padding footer-font">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold footer-font">Fytletic</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
                <p>
                    Fytletic - Professional Fight Network.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
                <p><i class="fas fa-home mr-3"></i> Newcastle Upon Tyne</p>
                <p><i class="fas fa-envelope mr-3"></i> Dan@fytletic.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 07 544 905 639</p>
                <p></p>
            </div>

            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <div class="div">


        <div class="div text-center">

            <!--Facebook-->

            <a href="https://facebook.com" target="_blank" class="fb-ic mr-3" role="button"><i
                    class="fab fa-lg fa-facebook-f"></i></a>
            <!--Twitter-->
            <a href="https://twitter.com" target="_blank" class="tw-ic mr-3" role="button"><i
                    class="fab fa-lg fa-twitter"></i></a>

            <!--Linkedin-->
            <a href="https://linkedin.com" target="_blank" class="li-ic mr-3" role="button"><i
                    class="fab fa-lg fa-linkedin-in"></i></a>
            <!--Instagram-->
            <a href="https://instagram.com" target="_blank" class="ins-ic mr-3" role="button"><i
                    class="fab fa-lg fa-instagram"></i></a>
        </div>

    </div>

    <!-- Copyright -->
    <div class="text-center py-3">
        Copyright &copy;
        <span class="year"></span> Fytletic - Professional Fight Network.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->