{% load static %}

<!-- Footer -->
<footer class="page-footer font-small w-auto mx-auto grad">

    <div class="container ">

        <div class="col-md-6 col-lg-7 text-center text-md-right">

        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 footer-padding">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Fytletic</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
                <p>
                    Fytletic - Professional Fight Network.
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
                <p><i class="fas fa-home mr-3"></i> Newcastle Upon Tyne</p>
                <p><i class="fas fa-envelope mr-3"></i> Dan@fytletic.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 07 544 905 639</p>
                <p></p>
            </div>

            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright &copy;
        <span class="year"></span> Fytletic - Professional Fight Network.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->