<nav class="navbar navbar-expand-lg ">
    <!-- Navbar brand -->
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>
    <div class="col-6 col-lg-4 my-auto py-1 py-lg-0  text-lg-right">

        <a href="{% url 'home' %}" class="nav-link main-logo-link ">
            <h2 class="logo-font  font-weight-bold text-black font-weight-bold my-0"><strong> FYT</strong><em>LETIC</em>
            </h2>
        </a>

        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        </div>


    </div>


    <div id="mySidebar" class="sidebar ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a class="font-weight-bold my-1" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
        <a class="font-weight-bold my-1" href="{% url 'about' %}"><i class="fas fa-info"></i> About</a>
        <a class="font-weight-bold my-1" href="{% url 'news' %}"><i class="far fa-newspaper"></i> News</a>
        <a class="font-weight-bold my-1" href="{% url 'contact' %}"><i class="far fa-envelope"></i> Contact</a>m
        <a class="font-weight-bold my-1" href="{% url 'profile' %}"><i class="far fa-user"></i> Profile</a>


        <a class="font-weight-bold my-1" href="{% url 'gym' %}"><i class="fas fa-dumbbell"></i> Gyms</a>


        <ul class="list-inline list-unstyled text-center text-lg-right my-0">

            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>

                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'news' %}" class="dropdown-item">News</a>
                    <a href="{% url 'products' %}" class="dropdown-item">FYT Merch</a>
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>


            <a class="font-weight-bold my-1" href="{% url 'fytnet' %}"><i class="fas fa-fist-raised"></i> Fighters</a>
            <a class="font-weight-bold my-1" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i>
                Register</a>
            <a class="font-weight-bold my-1" href="{% url 'account_logout' %}"><i class="fas fa-sign-in-alt"></i>
                Login</a>
            <a class="font-weight-bold logout mb-5 py-1" href="{% url 'account_logout' %}"><i
                    class="fas fa-sign-out-alt"></i>
                Logout</a>


    </div>





    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Nav Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link font-weight-bold" href="{% url 'home' %}">Home</a>
            </li>


            <li class="nav-item"><a class="nav-link font-weight-bold" href="{% url 'about' %}">About
                </a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold" href="{% url 'contact' %}">Contact
                </a></li>

            <li class="nav-item"><a class="nav-link font-weight-bold" href="{% url 'news' %}">News Desk</a>
            </li>

        </ul>

    </div>
</nav>