<nav class="navbar navbar-expand-lg navbar-dark nav-primary">
    <!-- Navbar brand -->
    <a href="{% url 'home' %}" class="navbar-brand main-logo-link"><img class="brandlogo"
            src="{{ MEDIA_URL }}logo_FA.png" alt="logo"></a>




    <!-- <img class="brandlogo" src="#" alt="logo"> -->
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Nav Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'home' %}">Home</a>
            </li>
            <!-- Button trigger modal
            <li class="nav-item"><a class="nav-link font-weight-bolder" data-toggle="modal"
                    data-target="#fullHeightModalRight">About</a></li> -->


            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'profile' %}"> My Profile</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'about' %}">About
                </a></li>
            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'contact' %}">Contact
                </a></li>

            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'gym' %}">GYMS</a>
            </li>

            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'fytnet' %}">Fighters</a>
            </li>
            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'news' %}">News Desk</a>
            </li>

            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'account_logout' %}">Log Out</a>
            </li>

            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'account_login' %}">Log In</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bolder" href="{% url 'account_signup' %}">Register</a>
            </li>

            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                    href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>



        </ul>

    </div>
</nav>