<nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">FYT<strong><em>LETIC</em> </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">




            <li class="nav-item">
                <a class="nav-link hover-nav" href="{% url 'fytnet' %}"><i
                        class="fas fa-users mr-1 hover-nav"></i>Fighters <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link hover-nav" href="{% url 'gym' %}"><i class="fas fa-building mr-1 hover-nav"></i>Gyms
                    <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link hover-nav" href="{% url 'products' %}"><i
                        class="fas fa-shopping-bag mr-1 hover-nav"></i>FYT<strong><em>MERCH</em> </strong>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link hover-nav" href="{% url 'news' %}"><i
                        class="fas fa-newspaper mr-1 hover-nav"></i>News
                </a>
            </li>


            <!-- Account management.-->

            <li class="nav-item dropdown hover-nav">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user mr-1 hover-nav"></i>
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                    <p class="nav-link  hover-nav text-center"> <small>Hi, {{ user.username | capfirst }}</small> </p>
                    <div class="dropdown-divider"></div>


                    <a class="nav-link  hover-nav" href="{% url 'profile' %}"><i
                            class="fas fa-user-plus mr-1 hover-nav"></i>Your Account
                    </a>

                    <!-- DropDown Divider - account login logout-->
                    <div class="dropdown-divider"></div>

                    <a class="nav-link hover-nav" href="{% url 'account_logout' %}"><i
                            class="fas fa-building mr-1 hover-nav"></i>Logout
                    </a>
                    {% else %}

                    <a class="nav-link hover-nav" href="{% url 'account_login' %}"><i
                            class="fas fa-building mr-1 hover-nav"></i>Login
                    </a>
                    <a class="nav-link hover-nav" href="{% url 'account_signup' %}"><i
                            class="fas fa-building mr-1 hover-nav"></i>Register
                    </a>
                    {% endif %}

                    {% if request.user.is_superuser %}
                    <!-- DropDown Divider - account login logout-->
                    <div class="dropdown-divider"></div>

                    <h6 class="nav-link hover-nav"> <i class="fas fa-cog mr-1 hover-nav"></i><em>Admin</em> </h6>


                    <a class="nav-link  hover-nav" href=""><i class="fas fa-building mr-1 hover-nav"></i>Admin Panel
                    </a>

                    <a class="nav-link  hover-nav" href="{% url 'add_product' %}"><i
                            class="fas fa-building mr-1 hover-nav"></i>Add product
                    </a>



                    {% endif %}
                </div>
            </li>



            <li class="nav-item">
                <a class="nav-link hover-nav" href="{% url 'view_bag' %}"><i
                        class="fas fa-shopping-bag fa-lg mr-1 hover-nav"></i>{% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                </a>

            </li>




        </ul>

    </div>
</nav>