<header>

    <nav class="navbar-nav ">
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">

            <a href="{% url 'home' %}" id="home-link">
                <strong> FYT</strong><em>LETIC</em>
            </a>


        </div>
        <div class="menu">
            <ul>

                <li><a href="{% url 'fytnet' %}">Fighters</a></li>
                <li><a href="{% url 'gym' %}">Gyms</a></li>
                <li class="hover-nav"><a href="{% url 'products' %}">Merch</a></li>


                <!--Drop down section-->
                <li class="nav-item dropdown hover-nav">
                    <a class="dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>

                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}

                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}



                        <a class="dropdown-item" href="#">Fight Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <!-- Shopping bag -->
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div class="">

                            <p class="my-0"> <i class="fas fa-shopping-bag fa-lg"></i>
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>



            </ul>

        </div>
    </nav>

</header>