{% extends "base.html" %}

{% block content %}

<div class="hero-accounts">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text text-center">
                <h2 class="display-4 logo-font text-white font-weight-bold">
                    Account
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->


<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}