{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Hero Section-->
<div class="hero-gym">
    <img class="hero-gym-img" src=" {{ gym.gym_photo_main.url }}" alt=" Image photo main">
    <div class="container-fluid">

        <div class="row">
            <div class="hero-text text-center">

                {% if gym.is_verified %}
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    {{ gym.name }}<i class="fas fa-check-circle blue-tick"></i>
                </h1>

                {% else %}
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    {{ gym.name }}<i class="fas fa-check-circle"></i>
                </h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->


<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font font font-weight-bold ">
                Welcome to {{ gym.name }}</h2>

            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<!-- Data -->
<section id="" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Home Main Image -->
                <img src="{{ gym.photo_1.url }}" alt="" class="img-main img-fluid mb-3">
                <!-- Thumbnails -->
                <div class="row mb-5 thumbs">
                    {% if gym.photo_1 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_1.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_2 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_2.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_3 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_3.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_4 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_4.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_5 %}
                    <div class="col-md-2">
                        <a href="{{ gym.gym_photo_5.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_6 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_6.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-globe-europe"></i> <strong>location:</strong>
                                <span class="float-right">{{ gym.country }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-map-marked"></i> <strong>Address:</strong>
                                <span class="float-right">{{ gym.street_address1 }} <br>{{ gym.street_address2 }}
                                    <br>{{ gym.town_or_city }}</span>
                            </li>

                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bed"></i> <strong>Specialises in:</strong>
                                <span class="float-right">{{ gym.category }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fab fa-whatsapp"></i> <strong>Call:</strong>
                                <span class="float-right">{{ gym.whatsapp }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-square"></i> <strong>Email:</strong>
                                <span class="float-right">{{ gym.email }}
                                </span>
                            </li>

                            <li class="list-group-item text-secondary">
                                <i class="fas fa-link"></i> <strong>Social Media:</strong>
                                <span class="float-right">{{ gym.facebook }}</span><br>
                                <span class="float-right">{{ gym.instagram }}</span><br>
                                <span class="float-right">{{ gym.twitter }}</span><br>
                                <span class="float-right">{{ gym.web }}</span><br>


                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-calendar"></i> <strong>Listing Date:</strong>
                                <span class="float-right">{{ gym.created_on }}</span>

                            </li>
                        </ul>
                    </div>
                </div>

                <!-- About Gym -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        {{ gym.about }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="#" alt="">
                    <div class="card-body">
                        <h5 class="card-title"> <strong>Gym Owner</strong></h5>
                        <img src="{{ gym.gym_owner.url }}" class="rounded img-fluid " alt=" Gym Owner">
                        <h6 class="text-secondary">{{ gym.gym_owner_name }}</h6>
                        <h6 class="card-title">created</h6>

                        <h6 class="text-secondary">{{ gym.created_on }}</h6>
                    </div>
                </div>

                <a href="{% url 'gym' %}" class="btn btn-primary btn-block btn-dark">Fight Camp</a> <br>
                <a href="{% url 'gym' %}" class="btn btn-primary btn-block btn-dark">Back To Gyms</a>
            </div>
        </div>
    </div>
</section>

<!-- End About Gym -->



<!-- back to top link-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>

{% endblock %}

{% block postloadjs %}
<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}