{% extends "base.html" %}
{% load static %}


{% block content %}




<!-- Hero Section-->
<div class="hero-gym ">
    <img class="hero-gym-img" src=" {{ gym.gym_photo_main.url }}" alt=" Image photo main">
    <div class="container-fluid">

        <div class="row">
            <div class="hero-text text-center">

                {% if gym.is_verified %}
                <h1 class="display-4 logo-font text-white font-weight-bold focus-in-contract-bck">
                    {{ gym.name }}<i class="fas fa-check-circle blue-tick"></i>
                </h1>

                {% else %}
                <h1 class="display-4 logo-font text-white font-weight-bold focus-in-contract-bck">
                    {{ gym.name }}
                </h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->

<!-- Data -->
<section class="py-4 whitesmoke-container">
    <div class="container">
        <!-- About Gym -->
        <div class="row">
            <div class="col text-left mt-3 white-box my-5 py-5 z-depth-1">
                <h2 class="logo-font mb-4">
                    <em>About</em>
                </h2>
                <div class="col-md-12 text-justify ">
                    {{ gym.about }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 white-box  z-depth-1">
                <!-- Home Main Image -->
                {% if fighter.profile_photo_main %}
                <img src="{{ gym.photo_1.url }}" alt="" class="img-fluid rounded mx-auto d-block  home-images mb-3">
                <!-- Thumbnails -->
                {% endif %}
                <div class="row mb-5 thumbs">
                    {% if gym.photo_1 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_1.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_2 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_2.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_3 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_3.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_4 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_4.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_5 %}
                    <div class="col-md-2">
                        <a href="{{ gym.gym_photo_5.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if gym.photo_6 %}
                    <div class="col-md-2">
                        <a href="{{ gym.photo_6.url }}" data-lightbox="home-images">
                            <img src="{{ gym.photo_6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6 ">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-mute">
                                <i class="fas fa-globe-europe"></i> <strong>location:</strong>
                                <span class="float-right">{{ gym.country }}</span>
                            </li>
                            <li class="list-group-item text-mute">
                                <i class="fas fa-map-marked"></i> <strong>Address:</strong>
                                <span class="float-right">{{ gym.street_address1 }} <br>{{ gym.street_address2 }}
                                    <br>{{ gym.town_or_city }}</span>
                            </li>

                            <li class="list-group-item text-mute">
                                <i class="fas fa-fist-raised"></i> <strong>Specialises in:</strong>
                                <span class="float-right">

                                    <!-- Looping over categories / tags in model database. Many2many relationship solution from https://stackoverflow.com/questions/3998527/how-to-display-a-list-of-objects-containing-many-to-many-relations-in-django-tem -->


                                    <!-- {{ gym.gym_type.all }} <br> -->



                                    {% for gymtype in gym.gym_type.all %}
                                    {{ gymtype.name | upper }} <br>
                                    {% empty %}
                                    No tags!
                                    {% endfor %}




                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item text-mute">
                                <i class="fab fa-whatsapp"></i> <a href="tel: {{ gym.whatsapp }}" target="_blank"><span
                                        class="float-right"> <strong>Call Gym</strong></span>
                                </a>

                            </li>
                            <li class="list-group-item text-mute">
                                <i class="fas fa-envelope"></i> <a href="mailto: {{ gym.email }}" target="_blank"><span
                                        class="float-right"> <strong>Contact</strong>
                                    </span>
                                </a>
                            </li>

                            <li class="list-group-item text-mute">
                                <i class="fas fa-link"></i> <strong>Other</strong>




                            </li>
                            <li class="list-group-item text-mute ">
                                <i class="fas fa-calendar"></i> <strong>Created</strong>
                                <span class="float-right">{{ gym.created_on }}</span>

                            </li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col-md-3 ">
                <div class="card mb-3 white-box">
                    <div class="card-body text-center">
                        <h5 class="card-title logo-font "> <strong>Gym Owner</strong></h5>

                        <img src="{{ gym.gym_owner.url }}" class="mx-auto d-block img-fluid-profile rounded"
                            alt=" Gym Owner">
                        <h6 class="">{{ gym.gym_owner_name }}</h6>


                        {% if gym.is_verified %}
                        <h6 class="font-weight-bold">
                            <em>Verified GYM</em> <i class="fas fa-check-circle blue-tick"></i>
                        </h6>
                        {% endif %}
                    </div>
                </div>


                <div class="card mb-3 white-box ">
                    <div class="card-body text-center">
                        <h5 class="card-title"> <strong>Other</strong></h5>


                    </div>






                </div>


                <div class="card mb-3 white-box ">

                    <div class="div text-center">

                        <!--Facebook-->

                        <a href="{{ gym.facebook }}" target="_blank" class="fb-ic mr-3" role="button"><i
                                class="fab fa-lg fa-facebook-f fa-brand-facebook"></i></a>
                        <!--Twitter-->
                        <a href="{{ gym.twitter }}" target="_blank" class="tw-ic mr-3" role="button"><i
                                class="fab fa-lg fa-twitter fa-brand-twitter"></i></a>

                        <!--Instagram-->
                        <a href="{{ gym.instagram }}" target="_blank" class="ins-ic mr-3" role="button"><i
                                class="fab fa-lg fa-instagram fa-brand-instagram"></i></a>
                        <!--Linkedin-->
                        <a href="{{ gym.web }}" target="_blank" class="li-ic mr-3" role="button"><i
                                class="fas fa-lg fa-link fa-brand-web"></i></a>
                    </div>

                </div>


                <div class="div text-center">

                    <a href="{% url 'gym' %}" class="btn btn-primary btn-sm btn-dark">Back To Gyms</a></div>

                {% if request.user.is_superuser %}
                <small class="text-center ">
                    <a href="{% url 'edit_gym' gym.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_gym' gym.id %}">Delete</a>
                </small>
                {% endif %}
            </div>

            <!-- Carousel-->
            <div class="container-fluid ">
                <div class="row white-box my-5 py-5 z-depth-1">
                    <div class="col text-left">

                        <h4 class="logo-font mb-4"> <em>Media </em> </h4>

                        <div class="owl-carousel">
                            <div class="item-video" data-merge="1">
                                <a class="owl-video" href="{{ gym.video_1 }}"></a>
                            </div>
                            <div class="item-video" data-merge="1">
                                <a class="owl-video" href="{{ gym.video_2 }}"></a>
                            </div>
                            <div class="item-video" data-merge="2">
                                <a class="owl-video" href="{{ gym.video_3 }}"></a>
                            </div>
                            <div class="item-video" data-merge="2">
                                <a class="owl-video" href="{{ gym.video_4 }}"></a>
                            </div>
                            <div class="item-video" data-merge="1">
                                <a class="owl-video" href="{{ gym.video_5 }}"></a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <!-- End Carousel-->

            <!-- Fight camp -->
            <div class="container-fluid ">
                <div class="row white-box my-5 py-5 z-depth-1">
                    <div class="col text-left">

                        <h4 class="logo-font mb-4"> <em>Fight Camp </em> </h4>

                        <p>fighters who train at this gym</p>

                        {% for fighter in fighters %}

                        <div class="div">

                            <a href="{% url 'fytnet_profile' fighter.id %}">
                                <img src="{{ fighter.profile_photo_main.url }}" alt="Profile"
                                    class="md-avatar rounded"></a></div>
                        <strong>{{ fighter }}</strong><br>
                        {% empty %}

                        No Fighters

                        {% endfor %}

                    </div>

                </div>


            </div>
            <!-- End Carousel-->

        </div>

    </div>

</section>
<!-- End About Gym -->


<!-- back to top link-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>

{% endblock %}

{% block postloadjs %}

<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}