{% extends "base.html" %}
{% load static %}



{% block content %}

<!-- Hero Section-->
<div class="hero-header">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text text-center">
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    GYMS
                </h1>


            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->


<div class="container-fluid">
    <div class="row">
        <div class="col text-left mt-3">
            <h3 class="font-weight-bold mb-5">Gyms</h3>
        </div>
    </div>
</div>



<!-- fighter profile cards -->
<section id="gyms" class="py-4">
    <div class="container">
        <div class="row">

            {% if gyms %}
            {% for gym in gyms %}



            <!-- New fighter card layout-->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

                <!-- Card -->
                <div class="card hoverable">

                    <!-- Card image -->
                    <img class="card-img-top" src="{{ gym.gym_photo_main.url }}" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">
                        {% if gym.is_verified %}
                        <h5 class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                            {{ gym.name }}<i class="fas fa-check-circle blue-tick"></i>
                        </h5>

                        {% else %}
                        <h5 class="card-title text-muted text-uppercase font-small mt-1 mb-3">
                            {{ gym.name }}<i class="fas fa-check-circle"></i>
                        </h5>
                        {% endif %}


                        <!-- Text -->
                        <p class="mb-2">{{ gym.town_or_city }}</p>
                        <!-- Title -->
                        <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">{{ gym.created_on }}
                        </p>

                        <a class="btn btn-dark pill-btn btn-sm" href="{% url 'gym_profile' gym.id %}">Read
                            more!</a>


                    </div>
                </div>
            </div>




            <!--End new card layout -->


            {% endfor %}
            {% endif %}
        </div>
    </div>

</section>



<!-- back to top link-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>




{% endblock %}

{% block postloadjs %}
<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>


{% endblock %}