{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section-->
<div class="hero-header">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text text-center">
                <h1 class="display-4 logo-font text-white font-weight-bold">
                    Contact
                </h1>


            </div>
        </div>
    </div>
</div>

<!-- End Hero Section-->


<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

        <style>
            .map-container {
                height: 200px;
                position: relative;
            }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        </style>

        <!--Google map-->
        <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73226.43170009226!2d-1.726882266717276!3d55.002450493759824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487d857e0c6f64cd%3A0xbe252b072a76191!2sNewcastle%20upon%20Tyne!5e0!3m2!1sen!2suk!4v1616779224690!5m2!1sen!2suk"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!--Google Maps-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

                <h3 class="font-weight-bold">Contact Us</h3>

                <p class="text-muted">We at Fytletic love to hear from you, if you want to contact us you can directly
                    using our office line the email below or fill out the form and we will get back to you as soon as
                    possible..</p>

                <p><span class="font-weight-bold mr-2">Email:</span><a href="">contact@fytletic.com</a></p>
                <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+7544 905 639</a></p>

            </div>





            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-md-12 mb-4 mb-md-0">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->


                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->


                    </div>
                    <!--Grid column-->

                </div>

                <form id="form" action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}



                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control" {% if user.is_authenticated %}
                            value="{{ user.username }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" name="email" class="form-control" {% if user.is_authenticated %}
                            value="{{ user.email }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" id="button" value="Submit" class="btn btn-dark btn-sm ml-0">
                </form>








            </div>
        </div>
    </section>
    <!--Section: Content-->
</div>
<!--Grid column-->






<!-- back to top link-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>

</div>



{% endblock %}

{% block postloadjs %}

<!-- block super appends instead of replacing anything in the block.-->
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}